EMAIL_USERNAME=
EMAIL_PASSWORD=
JWT_SECRET_KEY=
SPRING_DATASOURCE_URL=
SPRING_DATASOURCE_USERNAME=
SPRING_DATASOURCE_PASSWORD=
SUPABASE_S3_ENDPOINT=
SUPABASE_S3_ACCESS_KEY=
SUPABASE_S3_SECRET_KEY=
SUPABASE_S3_REGION=
SUPABASE_S3_BUCKET=
SUPABASE_PUBLIC_URL=
CORS_ALLOWED_ORIGINS=
SPRING_PROFILES_ACTIVE=prod
SPRING_MAIL_HOST=smtp.gmail.com
SPRING_MAIL_PORT=587
SPRING_MAIL_AUTH=true
SPRING_MAIL_STARTTLS=true
